* { box-sizing: border-box; }

#top {
  text-align: center;
  border: thin solid black;
}

#left {
  width: 25%;
  float: left;
  /* border: thin solid black; */
}

#content {
  width: 50%;
  float: left;
  border: thin solid black;
  text-align: center;
}

#right {
  width: 25%;
  float: left;
  border: thin solid black;
  text-align: center;
}

.my-form button,
.my-form input,
.my-form textarea,
.my-form fieldset  {
  background-color: white;
  border: thin solid grey;
  border-radius: 25px;
  padding: 10px;
  margin: 10px 0 10px 0;
}

.my-form button { float: right; }
input, textarea { width: 100%; resize: none; }

fieldset {
  min-width: 0; /* Trick for skipping fieldset layout breaking */
}
